<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Something went wrong...</h1>
    <p>error: <%= @error %></p>
    <p>data: <%= @data %></p>
  </body>
</html>
